<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>2root 인편 정보</title>
  </head>
  <body>
    <div>
      <p>
        인편링크
        <a href="https://www.edunavy.mil.kr:10003/themes/basic/sub2/4_5.jsp" target="_blank">바로가기</a>
      </p>
      <p>
        더캠프 정보
        <a href="/inpyeon/the-camp">바로가기</a>
      </p>
      <br/>
  
      <h4>인터넷_편지/편지_보내기</h4>
      <table width="150">
        <tr>
          <td>받는이</td>
          <td>이근호</td>
        </tr>
        <tr>
          <td>생년월일</td>
          <td>011229</td>
        </tr>
      </table>
      <br/>

      <h4>주의사항</h4>
      <ul>
        <li>
          해군은 육군과 달리 더캠프로 빠르게 보내는 방법이 없다고 합니다.
        </li>
        <li>
          한 명당 하루에 한 번, 1000자 이내로 보내야 하기 때문에 할 말들을 모아서 한 번에.
        </li>
        <li>
          하루에 최대 4명이라 튕길 수 있으므로 메모장이나 한글에 저장하면서 씁시다.
        </li>
      </ul>
      <br/>

      <h3>* 시간이 부족한 관계로 css 작업은 없습니다 *</h3>
    </div>
  </body>
</html>