<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>2root 더캠프 정보</title>
  </head>
  <body>
    <div>
      <p>
        인편 정보
        <a href="/inpyeon/please">바로가기</a>
      </p>
      <br/>

      <h4>더캠프</h4>
      <table width="220">
        <tr>
          <td>신분</td>
          <td>훈련병</td>
        </tr>
        <tr>
          <td>군종</td>
          <td>해군</td>
        </tr>
        <tr>
          <td>이름</td>
          <td>이근호</td>
        </tr>
        <tr>
          <td>생년월일</td>
          <td>2001.12.29</td>
        </tr>
        <tr>
          <td>입영부대</td>
          <td>진해 해군훈련소</td>
        </tr>
        <tr>
          <td>입대일자</td>
          <td>2022.06.20</td>
        </tr>
      </table>
    </div>
  </body>
</html>